main,
nav,
header,
article,
section,
footer {
    border: 1px solid gray;
    padding: 10px;
}   

#elsonav {
    display: grid;
    grid-template-columns: 80% 10% 10%;
    list-style-type: none;
    padding-left: 0;
}

#elsogomb {
    text-decoration: none;
    background-color: rgb(202, 51, 51);
    color: white;
    padding: 1em;

}

nav {
    background-color: rgb(207, 204, 204);
    height: 3em;
}

.masodik a {
    text-decoration: none;
    color: rgb(243, 33, 33);
    border: 1px solid black;
    padding: 1em;
}

#elsogomb:hover {
    background-color: rgb(207, 204, 204);
    color: black;
    border: 1px solid black;
    cursor: none;
}

.masodik a:hover {
    background-color: rgb(155, 152, 152);
    color: black;
    cursor: none;
}

.nagykep img {
    width: 100%;

}

.nagykep:hover {
    cursor: not-allowed;
}

.kep {
    margin: auto;
    border: 1PX solid black;
}

.kiskep {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 0.5em;
    padding: 10px;
}

.kiskep img {
    width: 100%;
}


#elsonav li {}

@media screen and (max-width: 800px) {
    nav ul {
        grid-template-columns: 1fr;
    }

    #elsonav{
        grid-template-columns: 1fr;
    }

    .kiskep {
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
    }
}